#home {
    background-color:#3fd4f5;
    color: white;
}



#conteudo1 {
    background: #3fd4f5;
    color: white;
}

.navbar-brand{
    background: #3fd4f5;
    color: white;
}

a{
    color: white;
}